.container {
	max-width: 120rem;
	width: 100%;
	padding: 0 15rem;
	margin: 0 auto;

	@media (max-width: $px-1440) {
		max-width: 90rem;
		padding: 0 8.75rem;
	}

	@media (max-width: $px-1160) {
		max-width: 72.5rem;
		padding: 0 12.25rem;
	}

	@media (max-width: $px-768) {
		max-width: 48rem;
		padding: 0 6rem;
	}

	@media (max-width: $px-576) {
		max-width: 36rem;
		padding: 0 6.62rem;
	}

	@media (max-width: $px-390) {
		max-width: 24.37rem;
		padding: 0 0.87rem;
	}
}
