.advantages-list {
	@include flexStart(column);
	gap: 1.25rem;

	&__item {
		@include flexStart(row, center);
		gap: 0.93rem;
	}

	&__svg-wrapper {
		display: block;
		border-radius: 50%;
		background-color: $orange;
		width: 1.5rem;
		height: 1.5rem;
		padding: 0.19rem 0.37rem 0.5rem 0.37rem;
	}

	&__item-text {
		font-size: $px-16;
		line-height: 150%;
		font-family: $openSans;
	}
}
