@keyframes navMenuShowUp {
	0% {
		transform: translateY(-0.62rem);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes mainLinkShowUp {
	0% {
		opacity: 0;
		scale: 0.6;
	}

	100% {
		opacity: 1;
		scale: 1;
	}
}

@keyframes titleElSlideIn {
	0% {
		transform: translateX(-1.25rem);
	}

	100% {
		transform: translateX(0);
	}
}
