.main-nav {
	$root: &;

	&__list {
		@include flexCenter(row, center, space-between);
		gap: 5rem;

		@media (max-width: 90rem) {
			gap: 6vw;
		}
	}

	&__link {
		font-family: $openSans;
		line-height: 150%;
		font-size: $px-16;
		text-transform: uppercase;

		transition: color $transition-300;

		&:hover,
		&:focus-visible,
		&:active {
			color: $orange;
		}
	}

	&--desktop {
		@media (max-width: $px-1160) {
			display: none;
		}
	}

	&--mobile {
		background-color: $white;
		width: 100%;
		position: absolute;
		top: 175%; // check pixelPerfect
		opacity: 0;
		transition: opacity $transition-300;
		pointer-events: none;

		#{$root}__list {
			@include flexStart(column);
			gap: unset;
		}

		#{$root}__item {
			@include flexStart(row, flex-start);
			padding: 1.25rem 0;
			border-bottom: 1px solid $light-grey;
			border-top: 1px solid $light-grey;
			width: 100%;

			&:first-child {
				border-top: unset;
			}
		}

		@media (min-width: $px-1160) {
			display: none;
		}
	}

	&--active {
		pointer-events: all;
		opacity: 1;
	}
}
